go 1.24.0

use (
	./lib
	./prj/allinone
	./prj/document
	./prj/frontend
	./prj/fulltextindex
	./prj/semanticindex
	./prj/shingleindex
	./prj/similarity
	./prj/similarityindex
	./prj/tgbot
	./util/protonatsmicrogen
)
