.header {
  margin: 16px 0 16px;
  padding: 0 16px;
}

.main {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  justify-content: center;
}

.footer {
  margin: 16px 0 16px;
  padding: 0 16px;
}
