.document_manager_container {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}

.action-section {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.document_manager_dropdown {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 1fr auto;
}

.document_manager_dropdown input {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
}