/* .document_manager_container { */
/*     display: flex; */
/*     justify-content: stretch; */
/*     flex-direction: column; */
/*     row-gap: 20px; */
/*     width: 100%; */
/* } */
/**/
/* .action-section { */
/*     display: flex; */
/*     align-items: center; */
/*     width: 100%; */
/* } */

.document_manager_container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    transition: height 0.3s ease;
}

.document_manager_container.minimized {
    height: 50px;
    overflow: hidden;
}

/* Кнопки управления */
.popup-button,
.toggle-button {
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.popup-button:hover,
.toggle-button:hover {
    background-color: #0056b3;
}

/* Секция действий */
.action-section {
    margin-top: 20px;
}
