.document_manager_container {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}

.action-section {
    display: flex;
    align-items: center;
    width: 100%;
}
